:root {
    /*Font Colors*/
    --clr--dark-blue: hsla(234, 53%, 16%, 1);
    --clr--gray: hsla(233, 10%, 56%, 1);
    --clr--white: hsla(0, 0%, 100%, 1);
    --clr--pink: hsla(341, 92%, 62%, 1);
    /*BG Colors*/
    --clr--bg-pink: linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
    --clr--bg--blue-pink: linear-gradient(180deg, #4851FF 0%, #F02AA6 100%);
    --clr--bg-dark-blue: hsla(234, 53%, 16%, 1);
    /*Hover Color*/
    --hover--purple: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), linear-gradient(180deg, #4851FF -54.32%, #F02AA6 100%);
    --hover--pink: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
    --hover--gray: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), linear-gradient(180deg, #4851FF -54.32%, #F02AA6 100%);
    --hover-dark-purple: #666CA3;
    /*Font Sizes*/
    --fs--heading: 2.5rem;
    --fs--title: 1.5rem;
    --fs--p: 1rem;
    --fs--small: 1.25rem;
    /*Body Color*/
    --clr-body-bg: #F2F2F2;
    /*Body font family*/
    --ff--body: 'Be Vietnam Pro', sans-serif;
    /*Body font size*/
    --fs--body: 16px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*Mobile*/

body {
    background-color: var(--clr-body-bg);
    font-family: var(--ff--body);
    font-size: var(--fs--body);
}

.body-container {
    width: 375px;
    height: 2615px;
    overflow: hidden;
}

h1 {
    font-size: var(--fs--heading);
    color: var(--clr--dark-blue);
}

h2 {
    color: var(--clr--dark-blue);
    font-size: var(--fs--small);
    line-height: 26px;
}

h3 {
    font-size: 20px;
}

p {
    color: var(--clr--gray);
    font-size: var(--fs--p);
}

.margin-16 {
    margin-left: 16px;
    margin-right: 16px;
}

.m-container {
    padding-left: 16px;
    padding-right: 16px;
}

.grid {
    display: grid;
    grid-template-columns: minmax(0, 21.188rem);
}

.button {
    width: 167px;
    height: 56px;
    border-radius: 28px;
    font-size: var(--fs--small);
    font-weight: 700;
    color: var(--clr--white);
    cursor: pointer;
    border: 0;
}

header .m-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 375px;
}

header .logo {
    margin-top: 29px;
}

header .logo h1 {
    font-size: 28px;
    line-height: 35.28px;
    font-weight: 800;
}

header .button {
    background: var(--clr--dark-blue);
    color: var(--clr--white);
    margin-top: 24px;
}

header .button:hover {
    background: var(--hover-dark-purple);
    color: var(--clr--white);
}


/*ShowCase Area*/

.showcase-area {
    margin-top: 38px;
}

.main-img-dekstop,
.main-img-tablet {
    display: none;
}

.left-area p {
    font-size: 16px;
    padding-top: 26px;
    width: 343px;
    line-height: 26px;
}

.left-area .button {
    background: var(--clr--bg-pink);
    margin-top: 24px;
}

.left-area .button:hover {
    background: var(--hover--pink);
}

.showcase-img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}

.main-img-mobile {
    max-width: 100%;
    width: 327px;
    height: 301px;
}

.main-img-tablet {
    display: none;
}

.main-img-dekstop {
    display: none;
}

.card-area {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
}

.card-area .card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: var(--clr--white);
    border-radius: 15px;
    width: 343px;
    height: 259px;
    padding-left: 32px;
    padding-right: 32px;
    margin-top: 40px;
}

.card-area .card-1 {
    background: var(--clr--bg-pink);
    width: 343px;
    height: 120px;
    font-size: var(--fs--title);
}

.card h2 {
    padding-top: 56px;
}

.card-1 h2 {
    margin-top: 64px;
    color: var(--clr--white);
    line-height: 40px;
    width: 286px;
}

.card-area .card h3 {
    width: 286px;
    height: 64px;
    line-height: 32px;
    font-weight: 800;
    color: var(--clr--white);
}

.card-area .card p {
    margin-top: 16px;
    font-size: 16px;
}

.card .button {
    margin-top: 24px;
    font-size: 18px;
    color: var(--clr--pink);
}

.card img {
    position: absolute;
    margin-top: -250px;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--clr--dark-blue);
    width: 375px;
    height: 120px;
    margin-top: 80px;
}

footer .m-container {
    display: flex;
    width: 375px;
    justify-content: space-between;
    align-items: center;
}

footer .logo {
    background-image: url(/assets/logo-light.svg);
    width: 111.17px;
    height: 27.68px;
}

footer .button {
    background: var(--clr--bg--blue-pink);
    margin-right: 16px;
}

footer .button:hover {
    background: var(--hover--purple);
    color: var(--clr--white);
}

.left-area .button:hover {
    background: var(--hover--pink);
}


/*Tablet*/

@media only screen and (min-width: 768px) {
    body {
        width: 768px;
        height: 1760px;
    }
    .body-container {
        width: 768px;
        height: 1760px;
        overflow: hidden;
    }
    header {
        display: flex;
        justify-content: space-between;
    }
    .m-container {
        padding-left: 39px;
        padding-right: 39px;
    }
    header .m-container {
        width: 768px;
    }
    header .logo {
        width: 89px;
        height: 35px;
        margin-top: 31px;
    }
    .logo-tablet {
        display: none;
    }
    .logo-dekstop {
        display: none;
    }
    header .button {
        background: var(--clr--dark-blue);
        color: var(--clr--white);
        margin-top: 24px;
        height: 48px;
        width: 140px;
        border-radius: 28px;
        font-size: 16px
    }
    .showcase-area .m-container {
        display: flex;
        padding-left: 39px;
        padding-right: 39px;
    }
    .left-area {
        margin-top: 105px;
        height: 284px;
        width: 398px;
    }
    .showcase-img {
        margin-top: -80px;
        margin-left: 60px;
    }
    .showcase-img .main-img-tablet {
        width: 100%;
        width: 500px;
        margin-top: 0px;
    }
    .main-img-mobile {
        display: none;
    }
    .left-area p {
        padding-top: 25px;
    }
    .left-area .button {
        margin-top: 24px;
    }
    .main-img-tablet {
        display: block;
        margin-top: -240px;
    }
    .grid {
        display: grid;
        grid-template-columns: minmax(0, 21.188rem) minmax(0, 21.188rem);
        gap: 10px;
    }
    .card {
        gap: 10px;
    }
    .card-area .card-1 {
        height: 259px;
        width: 339px;
        border-radius: 10px;
    }
    .m-container .grid-dekstop {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .card-1 h2 {
        margin-top: 56px;
        color: var(--clr--white);
        line-height: 24px;
        height: 64px;
        width: 286px;
    }
    footer {
        background: var(--clr--dark-blue);
        height: 120px;
        width: 768px;
        margin-top: 86px;
    }
    footer .m-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 768px;
    }
    header .button:hover {
        background: var(--hover-dark-purple);
        color: var(--clr--white);
    }
}

@media (min-width: 1440px) {
    body {
        width: 1440px;
        height: 1845px;
    }
    .body-container {
        width: 1440px;
        height: 1845px;
        overflow: hidden;
    }
    .m-container {
        padding-left: 165px;
        padding-right: 165px;
    }
    header {
        display: flex;
        justify-content: space-around;
    }
    header .m-container {
        width: 1440px;
    }
    .showcase-area .m-container {
        display: flex;
        padding-left: 165px;
        padding-right: 165px;
    }
    .main-img-tablet,
    .main-img-mobile {
        display: none;
    }
    .left-area {
        margin-top: 178px;
        height: 359px;
        width: 457px;
    }
    .showcase-img {
        height: 936.91650390625px;
        width: 991.630859375px;
        margin-left: 280px;
        margin-top: -220px;
    }
    .showcase-img .main-img-dekstop {
        display: block;
    }
    .grid {
        display: grid;
        grid-template-columns: minmax(0, 21.875rem) minmax(0, 21.875rem) minmax(0, 21.875rem);
        gap: 30px;
    }
    footer {
        background: var(--clr--dark-blue);
        height: 120px;
        width: 1440px;
        margin-top: 140px;
    }
    footer .m-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 1440px;
    }
    header .button:hover {
        background: var(--hover-dark-purple);
        color: var(--clr--white);
    }
    .left-area .button:hover {
        background: var(--hover--pink);
    }
}