@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@700;800&family=Outfit:wght@300;400;600&family=Plus+Jakarta+Sans:wght@700;800&family=Red+Hat+Display:ital,wght@0,700;0,900;1,500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}