:root {
    /*Font Colors*/
    --clr--dark-blue: hsla(234, 53%, 16%, 1);
    --clr--gray: hsla(233, 10%, 56%, 1);
    --clr--white: hsla(0, 0%, 100%, 1);
    --clr--pink: hsla(341, 92%, 62%, 1);
    /*BG Colors*/
    --clr--bg-pink: linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
    --clr--bg--blue-pink: linear-gradient(180deg, #4851FF 0%, #F02AA6 100%);
    --clr--bg-dark-blue: hsla(234, 53%, 16%, 1);
    /*Hover Color*/
    --clr-purple: hsla(234, 25%, 52%, 1);
    --clr-light-gray: hsla(0, 0%, 100%, 0.5);
    /*Font Sizes*/
    --fs--heading: 3.5rem;
    --fs--title: 1.5rem;
    --fs--p: 1.125rem;
    /*Body Color*/
    --clr-body-bg: #F2F2F2;
    /*Body font family*/
    --ff--body: 'Be Vietnam Pro', sans-serif;
    /*Body font size*/
    --fs--body: 16px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex {
    display: flex;
    justify-content: center;
}

.button {
    width: 167px;
    height: 56px;
    border-radius: 28px;
    font-size: 18px;
    border: 0;
    font-weight: 700;
    color: var(--clr--white);
}

h1 {
    color: var(--clr--dark-blue);
}

h2 {
    color: var(--clr--dark-blue);
}

p {
    color: var(--clr--gray);
}

body {
    background-color: var(--clr-body-bg);
    font-family: var(--ff--body);
    font-size: var(--fs--body);
}

.body-container {
    padding: 0 16px;
}

.flex-container {
    width: 1200px;
    height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    background-image: url(/assets/logo-dark.svg);
    width: 111.17px;
    height: 27.68px;
    margin-top: 29px;
}

header .button {
    background: var(--clr--dark-blue);
    color: var(--clr--white);
    font-weight: 700;
    font-size: 18px;
    margin-top: 24px;
}


/*ShowCase Area*/

.showcase-area {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 600px;
    margin-top: 172px;
}

.showcase-area .left-area {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-height: 502px;
    min-width: 343px;
    max-width: 457px;
}

.lef-area,
h1 {
    font-size: 56px;
}

.left-area p {
    font-size: 18px;
}

.left-area .button {
    background: var(--clr--bg-pink);
}

.showcase-area .right-area {
    position: absolute;
    background-image: url(/assets/image-hero-desktop.png);
    width: 1100px;
    height: 800px;
    background-position: center;
    background-repeat: no-repeat;
    left: 620px;
    top: -310px;
}

.card-area {
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
    gap: 30px;
    position: relative;
}

.card-area .card {
    background: var(--clr--white);
    border-radius: 15px;
    width: 350px;
    height: 322px;
    padding-left: 32px;
    margin-top: 56px;
}

.card-area .card-1 {
    background: var(--clr--bg-pink);
}

.card-area .card h2 {
    margin-top: 64px;
}

.card-area .card-1 h2 {
    margin-top: 64px;
    color: var(--clr--white);
    font-size: 32px;
    font-weight: 800;
    line-height: 40px;
    width: 286px;
}

.card-area .card p {
    margin-top: 24px
}

.card-area .card .button {
    margin-top: 52px;
    color: var(--clr--pink);
}

.card img {
    position: absolute;
    margin-top: -30px;
    margin-left: 32px;
}


/*Footer*/

footer {
    display: flex;
    justify-content: center;
    margin-top: 1100px;
    height: 120px;
    background: var(--clr--dark-blue);
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    color: var(--clr--white);
    padding-left: 16px;
    padding-right: 16px;
}

footer .logo {
    background-image: url(/assets/logo-light.svg);
    width: 111.17px;
    height: 27.68px;
}

footer .button {
    background: var(--clr--bg--blue-pink);
}